
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.env


.vscode/
待開發功能.txt

test_entropy.py

ML/dataset.txt
ML/dataset.csv
checkingFile/test_leak.py

# Ignore generated test data
/stress_test_data

#PyInstaller
build/
dist/
*.spec
